@{
    ViewData["Title"] = "Schools";
    }
@model List<School>;

    <h1>School Index</h1>


<br />

<table class="table table-bordered">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>

